---
import NotesLayout from "@/layouts/NotesLayout.astro";
import { formatDate } from "@/lib/fotmat";
import { getCollection } from "astro:content";

const notes = (await getCollection("notes"))
  .filter((note) => note.data?.publish !== false)
  .sort(
    (a, b) =>
      new Date(b.data.updated).getTime() - new Date(a.data.updated).getTime(),
  );
---

<NotesLayout
  title="笔记本 - flwfdd's space"
  description="我的学习笔记和思考记录"
  showToc={false}
>
  <div class="space-y-3">
    <h1 class="font-bold text-2xl text-center">最近更新</h1>
    <div class="bg-white dark:bg-cyan-900/20 p-6 rounded-xl">
      <div class="space-y-2">
        {
          notes.slice(0, 10).map((note) => (
            <a
              class="flex items-center justify-between p-3 rounded-lg
              
                hover:text-cyan-500 hover:bg-cyan-500/10
                transition-all duration-200"
              href={`/notes/${note.id}`}
            >
              <span>{note.data?.title || note.id}</span>
              <span class="text-sm text-gray-500">
                {formatDate(note.data.created)}
              </span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</NotesLayout>
