@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Noto Sans SC', sans-serif;
    --font-serif: 'Noto Serif SC', serif;
    --font-mono: 'Noto Sans Mono', monospace;
}


/* 优雅的滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-cyan-500);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-cyan-700);
}

/* 滚动条自动隐藏 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-cyan-500) transparent;
}

/* 只在悬停时显示滚动条 */
*:hover::-webkit-scrollbar-thumb {
    opacity: 1;
}

/* 文本选择 */
::selection {
    background: var(--color-cyan-200);
}

.dark ::selection {
    background: var(--color-cyan-800);
}